
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h2 {
    color: azure;
    background-color: brown;
   
}
body {
    
    display: flex;
    justify-content: center;
     width: 75%;
    position: absolute;
    align-items: center;
    min-height: 70vh;
    background: black;

    
       

}

.estacinado {    /* jacare */

    position: absolute;
    bottom: -35%;
    width: 500px;
    animation: estacinado-animation 1.8s infinite linear;
    
}

.andando {     /* sapo */
   
    width: 130px; 
    position: absolute;
    bottom: -20%;
    left: 30px;
}

.jump {  /* pulo */
    animation: jump 700ms linear;
}


@keyframes estacinado-animation {
    from {
        right: -25%;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {
    
    0% {
        bottom: -8%;
    }

    40% {
        bottom: 35%;
    }

    50% {
        bottom: 50%;
    }

    60% {
        bottom: 35%;
    }

    100% {
        bottom: -8%;
    }

}