
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1 {

    color: azure;
    background-color: brown;
}
body {
    
    display: flex;
    justify-content: center;
     width: 100%;
    position: relative;
    min-height: 70vh;
    background: black; 
       

}
.nuvem {
    position: absolute;
    width: 100px;
    animation: nuvem-animation 2.5s infinite linear;

}
.nuvem2 {
    position: absolute;
    width: 50px;
    bottom: 20%;
    
    animation: nuvem2-animation 2s infinite linear;

}


.estacinado {    /* jacare */
    position: absolute;
    bottom:-30vh;
    width: 400px;
    animation: estacinado-animation 2.2s infinite linear;
}

.andando {     /* sapo */
   
    width: 80px; 
    position: absolute;
    bottom: -15vh;
    left: 30px;
}

.jump {  /* pulo */
    animation: jump 700ms linear;
}



/* animação */
@keyframes estacinado-animation {
    from {
        right: -55%;
    }

    to {
        right: 100%;
    }
}
@keyframes nuvem-animation {
    from {
        right: -85%;
    }

    to {
        right: 100%;
    }
}
@keyframes nuvem2-animation {
    from {
        right: -30%;
    }

    to {
        right: 120%;
    }
}
@keyframes versao-animation {
    from {
        right: -50%;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {
    
    0% {
        bottom: -8%;
    }

    40% {
        bottom: 35%;
    }

    50% {
        bottom: 50%;
    }

    60% {
        bottom: 35%;
    }

    100% {
        bottom: -8%;
    }

}